<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>半糖.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45270A7F1BFE24DA00FFB49B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45270A981BFE24DA00FFB49B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45270AA31BFE24DA00FFB49B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
